<head>
	<meta charset="utf-8" />
	{% include analytics.html %}
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	{% include icons.html %}
	<!--[if lte IE 8]><script src="{{ site.static-url }}/assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{{ site.static }}/assets/css/main.css?{{site.time | date: '%s%N'}}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ site.static }}/assets/css/ie9.css?{{site.time | date: '%s%N'}}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.static }}/assets/css/ie8.css?{{site.time | date: '%s%N'}}" /><![endif]-->
	{% seo %}
</head>
