<!DOCTYPE html>
	<html>
		<head>
			{% include ga.html %}
			{% include icons.html %}
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css?{{site.time | date: '%s%N'}}">
		</head>
		<body>
			<nav>
	    			<ul>
	        			<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
	        			<li><a href="/blog">Blog</a></li>
	    			</ul>
			</nav>
			<div class="container">
			{{ content }}
			</div>
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/madsstorm">github.com/madsstorm</a></li>
				</ul>
			</footer>
		</body>
	</html>
