<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include header.html %} 
<div id="main" class="alt">
<section id="one">
	<div class="inner" itemscope itemtype="http://schema.org/Article">
		<header class="major">
			<h1 itemprop="headline">{{ page.title }}</h1>
		</header>
		{% if page.image %}<span class="image main"><img itemprop="image" src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>{% endif %}
		{% if page.date %}
			<meta itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">
			<p>{{ page.date | date_to_long_string }}</p>
		{% endif %}
		<p>{{ content }}</p>
	</div>
</section>
</div>
    {% include footer.html %}
</body>
</html>
